@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Quicksand', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00c8eb;
    color: white;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #00c8eb;
}

.input_section > h2 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.input_section > form > .input {
    margin: 8px 0;
    
}

.input_section > form > button {
    background-color: #2d14ba;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}



.input_section > form > .input > label {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.input_section > form > .input_inline > label {
    color: #ffffff;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #00c8eb;
}

.search_section > h2 {
    color: #ffffff;
    font-weight: bold;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: left;
    color: white;
    font-size: 20px;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: #2d14ba;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
    background-color: #00c8eb;
}

.book_shelf > h2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    background-color: white;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > h3 > a {
    text-decoration: none;
    color: black;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: #3ECF6F;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: red;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .blue {
    background-color: blue;
    color: white;
}
